parameters:
	ignoreErrors:
		- '#Do not throw the \\Exception base class. Instead, extend the \\Exception base class. More info: http:\/\/bit.ly\/subtypeexception#'

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon